.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153, 153, 153, 1);
    border-radius: 10px;
    border: 1px solid darkorchid;
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid#999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 2px solid white;
}

.buttons>div {
    border-top: 1px solid #999;
    border-right: 1px solid#999;
}

.button {
    border: 0.5px solid white;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(3, 3, 51);
    color: white;
}



.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}

#operation {
    color: white;
    background-color: blueviolet;
}
